html {
    scroll-behavior: smooth;
}

body {
    background-color: #1A1A29;
    padding: 0vh 4vw 4vh 9vw; /*bottom: bas gauche haut droite bghd*/
}

* {
    font-family: 'Poppins', sans-serif;
}

.color-purple {
    color: #7562E0;
}

.color-white {
    color: white;
}


.btn {
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px;
    cursor: pointer;
    justify-content: space-between;
    border-radius: 8px;
    user-select: none;
}

.btn:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}


.full-btn {
    background-color: #7562E0 !important;
    border: 3px solid #7562E0;
}

.empty-btn {
    border: 3px solid;
    color: #7562E0 !important;
}

.txt-center {
    text-align: center;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.icon-size {
    width: 2rem;
}

.fts-10 {
    font-size: 10px;
}

.fts-12 {
    font-size: 12px;
}

.fts-14 {
    font-size: 14px;
}

.fts-16 {
    font-size: 16px;
}

.fts-18 {
    font-size: 18px;
}

.fts-20 {
    font-size: 20px;
}

.fts-22 {
    font-size: 22px;
}

.fts-24 {
    font-size: 24px;
}

.fts-26 {
    font-size: 26px;
}

.fts-28 {
    font-size: 28px;
}

.fts-30 {
    font-size: 30px;
}

.fts-32 {
    font-size: 32px;
}

.fts-34 {
    font-size: 34px;
}

.fts-36 {
    font-size: 36px;
}

.fts-38 {
    font-size: 38px;
}

.fts-40 {
    font-size: 40px;
}

.fts-42 {
    font-size: 42px;
}

.fts-44 {
    font-size: 44px;
}

.fts-46 {
    font-size: 46px;
}

.fts-48 {
    font-size: 48px;
}

.fts-50 {
    font-size: 50px;
}


.fw-6 {
    font-weight: 600;
}


.mg-t-5 {
    margin-top: 5vh;
}

.mg-t-6 {
    margin-top: 6vh;
}

.mg-t-7 {
    margin-top: 7vh;
}

.mg-t-8 {
    margin-top: 8vh;
}

.mg-t-9 {
    margin-top: 9vh;
}

.mg-t-10 {
    margin-top: 10vh;
}

.mg-t-11 {
    margin-top: 11vh;
}

.mg-t-12 {
    margin-top: 12vh;
}

.mg-t-13 {
    margin-top: 13vh;
}

.mg-t-14 {
    margin-top: 14vh;
}

.mg-t-15 {
    margin-top: 15vh;
}

.mg-t-16 {
    margin-top: 16vh;
}

.mg-t-17 {
    margin-top: 17vh;
}

.mg-t-18 {
    margin-top: 18vh;
}

.mg-t-19 {
    margin-top: 19vh;
}

.mg-t-20 {
    margin-top: 20vh;
}

.mg-t-21 {
    margin-top: 21vh;
}

.mg-t-22 {
    margin-top: 22vh;
}

.mg-t-23 {
    margin-top: 23vh;
}

.mg-t-24 {
    margin-top: 24vh;
}

.mg-t-25 {
    margin-top: 25vh;
}

.mg-t-26 {
    margin-top: 26vh;
}

.mg-t-27 {
    margin-top: 27vh;
}

.mg-t-28 {
    margin-top: 28vh;
}

.mg-t-29 {
    margin-top: 29vh;
}

.mg-t-30 {
    margin-top: 30vh;
}


/* --------------------------------------------------------------------------------------  */

.example-fill-remaining-space {
    flex: 1 1 auto;
}

#nav-container {
    gap: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav-container > a {
    color: white;
    text-decoration: none;
    user-select: none;
}


.nav {
    display: flex;
    background-color: #181824;
    padding: 1rem;
    user-select: none;
    justify-content: space-between;
}

#nav-name {
    margin-left: 8vw;
}


/* dropdown menu */
.dropdown {
    position: relative;
}

.dropbtn {
    color: white;
    background-color: #181824;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #181824;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.show {
    display: block;
}

.dropdown_mob{
    display: none;
}


/*Responsive navBar*/
@media screen and (max-device-width:800px), screen and (max-width:800px) {

    #nav-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #nav-container > a {
        margin-left: 0;
    }

    .dropdown {
        display: none;
    }

    .dropdown_mob {
        display: block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        background-color: #181824;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        right: 0;
    }

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown_mob:hover .dropdown-content {
        display: block;
    }

    .show {
        display: block;
    }

}
/* --------------------------------------------------------------------------------------  */


#about {
    margin-top: 15vh;
}

#about-text {
    color: white;
    width: 80vw;
    text-align: start;
}


/* - -------------------------------------------------------------------------------------- - */
.presentation-container {
    display: flex;
    flex-direction: row;
    gap: 17.5vw;
}

.presentation-container > #text-presentation {
    text-align: start;
}


/* ------------------------------------------------------------------------------------------------- */

#competences {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 5vw;
}

/*---------------------------------------------------------------------------------------------*/


#my-projects {
    margin-top: 9vh;
}

#projets-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5vw;
    min-width: fit-content;
    min-height: fit-content;
    flex-wrap: wrap;
}

#projets-row > * {
    flex: 30%;
}


/*-------------------------------------------------------------------------------------*/

#contact > #format-contact > span > a {
    display: flex;
    flex-direction: column;
    color: white!important;
    text-decoration: none!important;
}



#copyright{
    margin-top: 10vh;
    text-align: center;
    color: white;

}

